@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-color: #1967d2;
  --paragraph-size: 16px;
  --heading-one-size: 32px;
  --heading-main-size: 60px;
  --link-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
header .logo h2 {
  font-size: 24px;
  font-weight: 500;
}
header .logo h2 span {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-color);
}
header nav {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}
header nav #navbar {
  display: flex;
  gap: 1rem;
  font-size: var(--link-size);
  position: relative;
}
header nav #navbar li a {
  color: #000;
  font-weight: 300;
  opacity: 0.6;
}
header nav #navbar li a:hover {
  opacity: 1;
}
header nav #navbar::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #e2e2e2;
  right: -1.5rem;
  bottom: 0;
}
header nav #user_area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header nav #user_area button {
  padding: 3px 20px;
  font-size: var(--link-size);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--main-color);
  color: #fff;
}
header nav #user_area button:hover {
  background-color: #135bbe;
}

main .header-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 60px 5%;
  gap: 2rem;
  background: linear-gradient(to right bottom, rgba(15, 137, 218, 0.8), rgba(9, 118, 190, 0.8)), url(../../src/img/1634129604195.avif) center/cover no-repeat;
}
main .header-bottom .header-bottom-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .header-bottom .header-bottom-presentation .presentation-text h2 {
  font-size: var(--heading-main-size);
  color: #fff;
  margin-bottom: 1rem;
}
main .header-bottom .header-bottom-presentation .presentation-text p {
  font-size: var(--paragraph-size);
  color: rgba(255, 255, 255, 0.7176470588);
  line-height: 24px;
  margin-bottom: 4rem;
}
main .header-bottom .header-bottom-presentation .presentation-text .search-container label {
  width: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70%;
  padding: 1px;
  transition: all 0.2s;
}
main .header-bottom .header-bottom-presentation .presentation-text .search-container label input {
  width: 73%;
  height: 30px;
  padding: 3px 7px;
  font-size: var(--paragraph-size);
  color: #9c9c9c;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}
main .header-bottom .header-bottom-presentation .presentation-text .search-container label button {
  font-size: var(--paragraph-size);
  height: 30px;
  cursor: pointer;
  padding-inline: 20px;
  padding-left: 30px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 0 5px 5px 0;
  width: 26%;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  transition: 0.2s;
  position: relative;
}
main .header-bottom .header-bottom-presentation .presentation-text .search-container label button .arrow-btn-icon {
  display: none;
  position: absolute;
  right: 20px;
}
main .header-bottom .header-bottom-presentation .presentation-text .search-container label button:hover .arrow-btn-icon {
  display: block;
  animation: arrowShowing 0.2s ease-in forwards;
}
main .header-bottom .header-bottom-presentation .presentation-text .search-container label button:hover {
  padding-inline: 20px;
  background-color: #135bbe;
}
main .header-bottom .header-bottom-presentation .presentation-text .search-container .tags-links ul {
  display: flex;
  gap: 1rem;
  font-size: var(--link-size);
  margin-top: 1rem;
}
main .header-bottom .header-bottom-presentation .presentation-text .search-container .tags-links ul li a {
  color: rgba(255, 255, 255, 0.6784313725);
}
main .header-bottom .header-bottom-presentation .presentation-text .search-container .tags-links ul li a:hover {
  color: #fff;
}
main .showing-jobs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  padding: 60px 5%;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}
main .showing-jobs .showing-jobs-card {
  position: relative;
  height: 300px;
  width: 200px;
  padding: 10px 15px;
  border-radius: 10px;
  color: #353535;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s;
}
main .showing-jobs .showing-jobs-card i {
  font-size: var(--heading-one-size);
  margin-bottom: 10px;
}
main .showing-jobs .showing-jobs-card h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 15px;
  cursor: default;
}
main .showing-jobs .showing-jobs-card p {
  font-size: var(--paragraph-size);
  text-align: center;
  color: #777777;
  margin-bottom: 10px;
  transition: all 0.8s;
  cursor: default;
}
main .showing-jobs .showing-jobs-card button {
  padding: 4px 17px;
  font-size: var(--link-size);
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  transition: all 0.4s;
}
main .showing-jobs .showing-jobs-card::before {
  content: "";
  height: 300px;
  width: 200px;
  border-radius: 10px;
  background-color: #eeeeee;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -2;
}
main .showing-jobs .showing-jobs-card::after {
  content: "";
  position: absolute;
  height: 500px;
  width: 300px;
  left: 100%;
  top: 100%;
  background: linear-gradient(to right bottom, #0976be, #49acee, #07609c);
  transition: all 0.8s;
  z-index: -1;
  border-radius: 100px;
}
main .showing-jobs .showing-jobs-card:hover::after {
  top: -100px;
  left: -100px;
}
main .showing-jobs .showing-jobs-card:hover {
  box-shadow: rgba(149, 157, 165, 0.459) 0px 8px 24px;
  scale: 1.1;
}
main .showing-jobs .showing-jobs-card:hover button {
  background-color: #fff;
  color: var(--main-color);
  scale: 1.1;
}
main .showing-jobs .showing-jobs-card:hover p {
  color: #2c2c2c;
}
main .showing-jobs::after {
  content: "";
  position: absolute;
  height: 1000px;
  width: 1000px;
  background-color: #f7caca;
  border-radius: 100%;
  z-index: -3;
  top: 50%;
  left: 60%;
}
main .showing-jobs::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 500px;
  background-color: #f7caca;
  border-radius: 100%;
  z-index: -3;
  top: 80%;
  left: 50%;
}
main .about-us-sec {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 60px 5%;
  align-items: center;
  gap: 5rem;
  position: relative;
  z-index: 0;
  background-color: rgb(247, 202, 202);
  overflow: hidden;
}
main .about-us-sec .about-us-sec-texts {
  color: #ffffff;
  position: relative;
}
main .about-us-sec .about-us-sec-texts h2 {
  font-size: var(--heading-main-size);
}
main .about-us-sec .about-us-sec-texts p {
  font-size: 20px;
  margin-bottom: 10px;
}
main .about-us-sec .about-us-sec-texts button {
  padding-block: 6px;
  font-size: var(--paragraph-size);
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  transition: all 0.4s;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 165px;
  padding-inline: 20px;
  padding-left: 30px;
}
main .about-us-sec .about-us-sec-texts button .arrow-btn-icon {
  display: none;
  position: absolute;
  right: 20px;
}
main .about-us-sec .about-us-sec-texts button:hover .arrow-btn-icon {
  display: block;
  animation: arrowShowing 0.2s ease-in forwards;
}
main .about-us-sec .about-us-sec-texts button:hover {
  padding-inline: 20px;
  background-color: #135bbe;
}
main .about-us-sec .about-us-sec-texts::after {
  content: "";
  position: absolute;
  width: 1800px;
  height: 1000px;
  left: -190%;
  top: -320%;
  background-color: transparent;
  border-radius: 100%;
  border: 500px solid rgb(255, 180, 180);
  z-index: -2;
}
main .about-us-sec::before {
  content: "";
  position: absolute;
  bottom: 6%;
  left: 4%;
  width: 450px;
  height: 450px;
  background-color: transparent;
  border: 10px dashed rgba(54, 160, 230, 0.4509803922);
  border-radius: 50%;
  z-index: -1;
  animation: rotate 120s linear infinite;
}
main .about-us-sec::after {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 140px;
  height: 140px;
  background-color: transparent;
  border: 1px solid rgba(15, 137, 218, 0.4196078431);
  z-index: -1;
  animation: rotate 40s linear infinite reverse;
}

@media (min-width: 1401px) {
  main .header-bottom {
    padding: 60px 15%;
  }
  main .header-bottom .header-bottom-presentation .presentation-text h2 {
    font-size: 76px;
  }
  main .header-bottom .header-bottom-presentation .presentation-text p {
    font-size: 24px;
    line-height: 36px;
  }
  main .header-bottom .header-bottom-presentation .presentation-text .search-container label input {
    height: 40px;
    font-size: 24px;
    width: 78%;
  }
  main .header-bottom .header-bottom-presentation .presentation-text .search-container label button {
    height: 40px;
    width: 22%;
    font-size: 24px;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes arrowShowing {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}