@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//
:root {
  --main-color: #1967d2;
  --paragraph-size: 16px;
  --heading-one-size: 32px;
  --heading-main-size: 60px;
  --link-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  & .logo h2 {
    font-size: 24px;
    font-weight: 500;

    & span {
      font-weight: 700;
      text-transform: uppercase;
      color: var(--main-color);
    }
  }

  & nav {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;

    & #navbar {
      display: flex;
      gap: 1rem;
      font-size: var(--link-size);
      position: relative;

      & li a {
        color: #000;
        font-weight: 300;
      }

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #e2e2e2;
        right: -1.5rem;
        bottom: 0;
      }
    }

    & #user_area {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      & button {
        padding: 3px 20px;
        font-size: var(--link-size);
        border: none;
        cursor: pointer;
        border-radius: 5px;

        background-color: var(--main-color);
        color: #fff;
      }
    }
  }
}

main {
  & .header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 60px 5%;
    gap: 2rem;

    background:
      linear-gradient(to right bottom, rgba(#0f89da, 0.8), rgba(#0976be, 0.8)),
      url(../../src/img/1634129604195.avif) center/cover no-repeat;

    & .header-bottom-presentation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .presentation-text {
        h2 {
          font-size: var(--heading-main-size);
          color: #fff;
          margin-bottom: 1rem;
        }

        p {
          font-size: var(--paragraph-size);
          color: #ffffffb7;
          line-height: 24px;
          margin-bottom: 4rem;
        }

        & .search-container {
          & label {
            width: fit-content;
            display: flex;
            justify-content: left;
            align-items: center;
            width: 70%;
            // border-radius: 7px;
            padding: 1px;
            transition: all 0.2s;

            & input {
              width: 81%;
              height: 30px;
              padding: 3px 7px;
              font-size: var(--paragraph-size);
              color: #9c9c9c;
              border: none;
              border-radius: 5px 0 0 5px;
              outline: none;
            }

            button {
              font-size: var(--paragraph-size);
              height: 30px;
              cursor: pointer;
              padding-inline: 20px;
              border: none;
              background-color: var(--main-color);
              color: #fff;
              border-radius: 0 5px 5px 0;
              width: 19%;
            }
          }

          & .tags-links {
            & ul {
              display: flex;
              gap: 1rem;
              font-size: var(--link-size);
              margin-top: 1rem;

              & li a {
                color: #ffffffad;

                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1401px) {
  main .header-bottom {
    padding: 60px 15%;

    & .header-bottom-presentation {
      & .presentation-text {
        h2 {
          font-size: 76px;
        }

        p {
          font-size: 24px;
          line-height: 36px;
        }

        & .search-container label {
          input {
            height: 40px;
            font-size: 24px;
            width: 78%;
          }

          button {
            height: 40px;
            width: 22%;
            font-size: 24px;
          }
        }
      }
    }
  }
}
