@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//
:root {
  --main-color: #1967d2;
  --paragraph-size: 16px;
  --heading-one-size: 32px;
  --heading-main-size: 60px;
  --link-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  & .logo h2 {
    font-size: 24px;
    font-weight: 500;

    & span {
      font-weight: 700;
      text-transform: uppercase;
      color: var(--main-color);
    }
  }

  & nav {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;

    & #navbar {
      display: flex;
      gap: 1rem;
      font-size: var(--link-size);
      position: relative;

      & li a {
        color: #000;
        font-weight: 300;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #e2e2e2;
        right: -1.5rem;
        bottom: 0;
      }
    }

    & #user_area {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      & button {
        padding: 3px 20px;
        font-size: var(--link-size);
        border: none;
        cursor: pointer;
        border-radius: 5px;

        background-color: var(--main-color);
        color: #fff;

        &:hover {
          background-color: #135bbe;
        }
      }
    }
  }
}

main {
  & .header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 60px 5%;
    gap: 2rem;

    background:
      linear-gradient(to right bottom, rgba(#0f89da, 0.8), rgba(#0976be, 0.8)),
      url(../../src/img/1634129604195.avif) center/cover no-repeat;

    & .header-bottom-presentation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .presentation-text {
        h2 {
          font-size: var(--heading-main-size);
          color: #fff;
          margin-bottom: 1rem;
        }

        p {
          font-size: var(--paragraph-size);
          color: #ffffffb7;
          line-height: 24px;
          margin-bottom: 4rem;
        }

        & .search-container {
          & label {
            width: fit-content;
            display: flex;
            justify-content: left;
            align-items: center;
            width: 70%;
            // border-radius: 7px;
            padding: 1px;
            transition: all 0.2s;

            & input {
              width: 77%;
              height: 30px;
              padding: 3px 7px;
              font-size: var(--paragraph-size);
              color: #9c9c9c;
              border: none;
              border-radius: 5px 0 0 5px;
              outline: none;
            }

            button {
              font-size: var(--paragraph-size);
              height: 30px;
              cursor: pointer;
              padding-inline: 20px;
              padding-left: 30px;
              border: none;
              background-color: var(--main-color);
              color: #fff;
              border-radius: 0 5px 5px 0;
              width: 22%;
              display: flex;
              align-items: center;
              gap: 0.7rem;
              transition: 0.2s;
              position: relative;

              & .arrow-btn-icon {
                display: none;
                position: absolute;
                right: 20px;
              }

              &:hover .arrow-btn-icon {
                display: block;
                animation: arrowShowing 0.2s ease-in forwards;
              }

              &:hover {
                padding-inline: 20px;
                background-color: #135bbe;
              }
            }
          }

          & .tags-links {
            & ul {
              display: flex;
              gap: 1rem;
              font-size: var(--link-size);
              margin-top: 1rem;

              & li a {
                color: #ffffffad;

                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  & .showing-jobs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    padding: 60px 5%;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;

    & .showing-jobs-card {
      position: relative;
      // background: linear-gradient(
      //   to bottom right,
      //   rgb(32, 32, 32),
      //   rgb(61, 61, 61)
      // );

      height: 300px;
      width: 200px;
      padding: 10px 15px;
      border-radius: 10px;
      color: #353535;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: all 0.3s;
      border-bottom: 2px solid #d8d8d8;

      & i {
        font-size: var(--heading-one-size);
        margin-bottom: 10px;
      }

      & h2 {
        font-size: 26px;
        text-align: center;
        margin-bottom: 15px;
        cursor: default;
      }

      & p {
        font-size: var(--paragraph-size);
        text-align: center;
        color: #777777;
        margin-bottom: 10px;
        transition: all 0.8s;
        cursor: default;
      }

      & button {
        padding: 4px 17px;
        font-size: var(--link-size);
        background-color: var(--main-color);
        border: none;
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
        transition: all 0.4s;
      }
      &::before {
        content: "";
        height: 300px;
        width: 200px;
        border-radius: 10px;
        background-color: #eeeeee;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -2;
      }
      &::after {
        content: "";
        position: absolute;
        height: 500px;
        width: 300px;
        left: 100%;
        top: 100%;
        background: linear-gradient(to right bottom, #0976be, #49acee, #07609c);
        transition: all 0.8s;
        z-index: -1;
        border-radius: 100px;
      }

      &:hover::after {
        top: -100px;
        left: -100px;
      }
      &:hover {
        box-shadow: rgba(149, 157, 165, 0.459) 0px 8px 24px;
        scale: 1.1;
      }

      &:hover button {
        background-color: #fff;
        color: var(--main-color);
        scale: 1.1;
      }

      &:hover p {
        color: #2c2c2c;
      }
    }

    &::after {
      content: "";
      position: absolute;
      height: 1000px;
      width: 1000px;
      background-color: #f7caca73;
      border-radius: 100%;
      z-index: -3;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
    &::before {
      content: "";
      position: absolute;
      height: 500px;
      width: 500px;
      background-color: rgb(247, 202, 202);
      border-radius: 100%;
      z-index: -3;
      top: 80%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  & .about-us-sec {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 60px 5%;
    align-items: center;
    gap: 5rem;
    position: relative;
    z-index: 0;
    background-color: rgb(247, 202, 202);
    overflow: hidden;

    & .about-us-sec-texts {
      color: #455a64;
      position: relative;
      & h2 {
        font-size: 6rem;
      }

      & p {
        font-size: 25px;
        margin-bottom: 20px;
        color: rgba(86, 109, 119, 0.89);
      }

      & button {
        padding-block: 6px;
        font-size: 20px;
        background-color: var(--main-color);
        border: none;
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
        transition: all 0.4s;
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 195px;
        padding-inline: 20px;
        padding-left: 30px;

        & .arrow-btn-icon {
          display: none;
          position: absolute;
          right: 20px;
        }

        &:hover .arrow-btn-icon {
          display: block;
          animation: arrowShowing 0.2s ease-in forwards;
        }

        &:hover {
          padding-inline: 20px;
          background-color: #135bbe;
        }
      }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 1800px;
      //   height: 1000px;
      //   left: -190%;
      //   top: -320%;
      //   background-color: transparent;
      //   border-radius: 100%;
      //   border: 500px solid rgb(255, 180, 180);
      //   z-index: -2;
      // }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 6%;
      left: 4%;
      width: 450px;
      height: 450px;
      background-color: transparent;
      border: 10px dashed #36a0e673;
      border-radius: 50%;
      z-index: -1;
      animation: rotate 120s linear infinite;
    }
  }

  & .testimonial-sec-intro {
    & h2 {
      text-align: center;
      color: #313131;
      font-size: 6rem;
      margin-top: 30px;
    }
  }

  & .testimonial-sec {
    display: flex;
    justify-content: center;
    padding: 60px 5%;
    position: relative;
    gap: 2rem;

    & .testimonial-img {
      position: relative;
      & .testimonial-img-sticky {
        position: sticky;
        display: inline-block;
        left: 100%;
        top: 10%;
        & img {
          width: 500px;
        }
      }
    }

    & .testimonials-cards-container {
      position: relative;
      & .testimonials-card {
        margin-bottom: 50px;
        background-color: #eeeeee;
        padding: 20px;
        border-radius: 15px;
        border: 1px solid #e7e7e7;

        display: flex;
        align-items: center;
        gap: 1rem;
        transition: all 0.3s;
        border: 3px dashed transparent;
        border-right: 5px solid #777777;

        & div {
          & h3 {
            font-size: 2rem;
            color: #1a1a1a;
            font-weight: 800;
            cursor: default;

            & span {
              color: var(--main-color);
              font-weight: 400;
            }
          }
          & p {
            font-size: var(--paragraph-size);
            color: #414141;
            cursor: default;
          }

          & .testimonial-star {
            color: #f7ba60;
            cursor: default;
          }
        }

        & img {
          min-width: 90px;
          height: 90px;
          border-radius: 50%;
          object-fit: cover;
          border: 3px dashed #0f89da7a;
          padding: 3px;
          transition: all 0.3s;

          &:hover {
            min-width: 110px;
            height: 110px;
          }
        }

        &:hover {
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          scale: 1.05;
          border: 3px dashed #0f89da7a;
          border-right: 3px dashed #777777;
        }
      }
    }
  }
}

@media (min-width: 1401px) {
  main {
    & .header-bottom {
      padding: 60px 15%;

      & .header-bottom-presentation {
        & .presentation-text {
          h2 {
            font-size: 76px;
          }

          p {
            font-size: 24px;
            line-height: 36px;
          }

          & .search-container label {
            input {
              height: 40px;
              font-size: 24px;
              width: 74%;
            }

            button {
              height: 40px;
              width: 28%;
              font-size: 24px;
            }
          }
        }
      }
    }

    & .showing-jobs {
      padding: 60px 15%;

      & .showing-jobs-card {
        height: 330px;
        width: 220px;

        &::before {
          height: 330px;
          width: 220px;
        }

        &::after {
          width: 330px;
        }
      }
    }

    & .about-us-sec {
      padding: 60px 15%;
      &::before {
        left: 16%;
      }
    }

    & .testimonial-sec {
      padding: 60px 15%;

      & .testimonials-cards-container {
        & .testimonials-card {
          margin-bottom: 80px;
          div {
            h3 {
              margin-bottom: 10px;
            }
          }
          img {
            min-width: 110px;
            height: 110px;

            &:hover {
              min-width: 130px;
              height: 130px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  main {
    .header-bottom {
      grid-template-columns: 1fr;
      text-align: center;
      padding: 60px 5%;

      & .header-bottom-presentation .presentation-text {
        & .search-container {
          & label {
            width: 100%;
            justify-content: center;
          }
          & .tags-links ul {
            justify-content: center;
            flex-wrap: wrap;
          }
        }
      }

      & img {
        display: none;
      }
    }

    .showing-jobs {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .about-us-sec {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 3rem;

      & img {
        width: 60%;
        margin: 0 auto;
      }

      & .about-us-sec-texts {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
          font-size: 3rem;
        }
      }
    }

    .testimonial-sec {
      flex-direction: column;
      align-items: center;

      & .testimonial-img {
        display: none;
      }
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes arrowShowing {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
